<!DOCTYPE html>
<html>
<head>
  <title>BnBProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUzhyEYwt4R6qI1QKQJR7RBe63LLYRZrc">
  </script>

<%= yield %>

</body>
</html>
